{ns zen.cli
 import #{zen.cli-tools}

 get-symbol
 {:zen/tags        #{zen.cli-tools/command}
  :zen/desc        "Gets symbol definition"
  :documentation   "..."
  :require         #{:symbol}
  :args            {:symbol {:type zen/symbol}}
  :positional-args [:symbol]}

 validate
 {:zen/tags        #{zen.cli-tools/command}
  :require         #{:schema-symbols :data}
  :args            {:schema-symbols {:type  zen/set
                                     :every {:type zen/symbol}}
                    :data           {:type zen/any}}
  :positional-args [:schema-symbols :data]}

 errors
 {:zen/tags #{zen.cli-tools/command}
  :args {}}

 cli-config
 {:zen/tags #{zen.cli-tools/config}
  :commands {:get-symbol {:command zen.cli/get-symbol}}}}
